@using Microsoft.AspNetCore.Components

<h4>Выберите дату бронирования</h4>
@if (SelectedDate != null)
{
    <p>Выбрана дата: @SelectedDate.Value.ToShortDateString()</p>
}
<table>
    <tr>
        @for (int i = 0; i < 14; i++)
        {
            var date = DateTime.Today.AddDays(i);
            <td>
                <button @onclick="@(() => SelectDate(date))"
                        style="margin: 2px;@(SelectedDate == date ? "background: #9cf;" : "")">
                    @date.ToShortDateString()
                </button>
            </td>
        }
    </tr>
</table>

@code {
    [Parameter] public DateTime? SelectedDate { get; set; }
    [Parameter] public EventCallback<DateTime> OnDateSelected { get; set; }

    void SelectDate(DateTime date)
    {
        SelectedDate = date;
        OnDateSelected.InvokeAsync(date);
    }
}
