.container {
    display: flex;
    padding: 6px;
    border: 1px solid;
    border-color: lightgray;
    border-radius: 6px;
    margin-bottom: 10px;
}

.image-wrapper {
    width: 150px;
    text-align: center;
}

.image {
    max-height: 150px;
    max-width: 150px;
    padding: 6px;
}

.details {
    flex-grow: 1;
    padding: 6px;
}

.order-price {
    font-weight: 600;
    font-size: 1.2em;
    text-align: right;
}

.order-btn {
    margin-top: 20px;
    margin-bottom: 20px;
}

.show-orders-menu {
    display: block;
}

.user-button {
    margin-left: .5em;
}

.top-row a {
    margin-left: 0;
}

.dropdown-item:hover {
    background-color: white;
}

.dropdown-menu {
    padding: 10px 0px 10px 0px !important;
    width: 90px !important;
    min-width: 80px !important;
}