<h3 style="font-size: 36px; justify-content: center; display: flex; font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif">Maybe you will like them: </h3>

<div class="paragraph-container">
    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
</div>

<div class="container mt-5" style="margin-bottom: 70px;">
    <div class="row">
        <div class="col-md-4">
            <div class="card p-3" style="background-color: white; color: black;">
                <div class="d-flex flex-row mb-3">
                    <img src="https://i.imgur.com/ccMhxvC.png" width="70" style="margin-right: 15px;">
                    <div class="d-flex flex-column ml-2">                 
                        <span>Now Playing</span>                          
                        <span class="text-black-50">Artist Name</span>    
                        <span class="ratings"><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i></span>
                    </div>                                                
                </div>                                                    
                <h6>Song Title</h6>                                       
                <div class="d-flex justify-content-between install mt-3"> 
                    <span>Duration: 3:45</span>                           
                    <span class="text-primary">View&nbsp;<i class="fa fa-angle-right"></i></span>
                </div>                                                    
            </div>                                                        
        </div>                                                            
                                                                          
        <div class="col-md-4">                                            
            <div class="card p-3" style="background-color: white; color: black;">
                <div class="d-flex flex-row mb-3">                        
                    <img src="https://i.imgur.com/IpKQiNu.png" width="70" style="margin-right: 15px;">
                    <div class="d-flex flex-column ml-2">                 
                        <span>Now Playing</span>                          
                        <span class="text-black-50">Artist Name</span>    
                        <span class="ratings"><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i></span>
                    </div>                                                
                </div>                                                    
                <h6>Song Title</h6>                                       
                <div class="d-flex justify-content-between install mt-3"> 
                    <span>Duration: 3:45</span>                           
                    <span class="text-primary">View&nbsp;<i class="fa fa-angle-right"></i></span>
                </div>                                                    
            </div>                                                        
        </div>                                                            
                                                                          
        <div class="col-md-4">                                            
            <div class="card p-3" style="background-color: white; color: black;">
                <div class="d-flex flex-row mb-3">                        
                    <img src="https://i.imgur.com/42SqVZd.png" width="70" style="margin-right: 15px;">
                    <div class="d-flex flex-column ml-2">
                        <span>Now Playing</span>
                        <span class="text-black-50">Artist Name</span>
                        <span class="ratings"><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i></span>
                    </div>
                </div>
                <h6>Song Title</h6>
                <div class="d-flex justify-content-between install mt-3">
                    <span>Duration: 3:45</span>
                    <span class="text-primary">View&nbsp;<i class="fa fa-angle-right"></i></span>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="card p-3" style="background-color: white; color: black;">
                <div class="d-flex flex-row mb-3">
                    <img src="https://i.imgur.com/lXEUCY8.png" width="70" style="margin-right: 15px;">
                    <div class="d-flex flex-column ml-2">
                        <span>Now Playing</span>
                        <span class="text-black-50">Artist Name</span>
                        <span class="ratings"><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i></span>
                    </div>
                </div>
                <h6>Song Title</h6>
                <div class="d-flex justify-content-between install mt-3">
                    <span>Duration: 3:45</span>
                    <span class="text-primary">View&nbsp;<i class="fa fa-angle-right"></i></span>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="card p-3" style="background-color: white; color: black;">
                <div class="d-flex flex-row mb-3">
                    <img src="https://i.imgur.com/S2In5pz.png" width="70" style="margin-right: 15px;">
                    <div class="d-flex flex-column ml-2">
                        <span>Now Playing</span>
                        <span class="text-black-50">Artist Name</span>
                        <span class="ratings"><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i></span>
                    </div>
                </div>
                <h6>Song Title</h6>
                <div class="d-flex justify-content-between install mt-3">
                    <span>Duration: 3:45</span>
                    <span class="text-primary">View&nbsp;<i class="fa fa-angle-right"></i></span>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="card p-3" style="background-color: white; color: black;">
                <div class="d-flex flex-row mb-3">
                    <img src="https://i.imgur.com/S5oK3Oe.png" width="70" style="margin-right: 15px;">
                    <div class="d-flex flex-column ml-2">
                        <span>Now Playing</span>
                        <span class="text-black-50">Artist Name</span>
                        <span class="ratings"><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i></span>
                    </div>
                </div>
                <h6>Song Title</h6>
                <div class="d-flex justify-content-between install mt-3">
                    <span>Duration: 3:45</span>
                    <span class="text-primary">View&nbsp;<i class="fa fa-angle-right"></i></span>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card p-3" style="background-color: white; color: black;">
                <div class="d-flex flex-row mb-3">
                    <img src="https://i.imgur.com/S5oK3Oe.png" width="70" style="margin-right: 15px;">
                    <div class="d-flex flex-column ml-2">
                        <span>Now Playing</span>
                        <span class="text-black-50">Artist Name</span>
                        <span class="ratings"><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i></span>
                    </div>
                </div>
                <h6>Song Title</h6>
                <div class="d-flex justify-content-between install mt-3">
                    <span>Duration: 3:45</span>
                    <span class="text-primary">View&nbsp;<i class="fa fa-angle-right"></i></span>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card p-3" style="background-color: white; color: black;">
                <div class="d-flex flex-row mb-3">
                    <img src="https://i.imgur.com/S5oK3Oe.png" width="70" style="margin-right: 15px;">
                    <div class="d-flex flex-column ml-2">
                        <span>Now Playing</span>
                        <span class="text-black-50">Artist Name</span>
                        <span class="ratings"><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i></span>
                    </div>
                </div>
                <h6>Song Title</h6>
                <div class="d-flex justify-content-between install mt-3">
                    <span>Duration: 3:45</span>
                    <span class="text-primary">View&nbsp;<i class="fa fa-angle-right"></i></span>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card p-3" style="background-color: white; color: black;">
                <div class="d-flex flex-row mb-3">
                    <img src="https://i.imgur.com/S5oK3Oe.png" width="70" style="margin-right: 15px;">
                    <div class="d-flex flex-column ml-2">
                        <span>Now Playing</span>
                        <span class="text-black-50">Artist Name</span>
                        <span class="ratings"><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i></span>
                    </div>
                </div>
                <h6>Song Title</h6>
                <div class="d-flex justify-content-between install mt-3">
                    <span>Duration: 3:45</span>
                    <span class="text-primary">View&nbsp;<i class="fa fa-angle-right"></i></span>
                </div>
            </div>
        </div>
    </div>
</div>

<style>
    body {
        background: #eee;
    }

    .ratings i {
        color: green;
    }

    .install span {
        font-size: 12px;
    }

    .col-md-4 {
        margin-top: 27px;
    }

    .paragraph-container {
        max-width: 800px;
        padding: 20px;
        margin: 0 auto;
        padding: 20px;
        background-color: #f9f9f9;
        border-radius: 10px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    }

        .paragraph-container p {
            font-size: 16px;
            line-height: 1.6;
            color: #333;
        }
</style>

@code {

}
