<div class="gallery">
</div>

<style>
    body {
        margin: 0;
        height: 100vh;
        display: grid;
        place-items: center;
        background-color: #010101;
        font-family: 'Raleway', sans-serif;
    }

    .gallery {
        display: flex;
        padding: 2px;
        transition: .3s;
    }

    
</style>
