.card {
    background-color: #ffffff;
    border-radius: 15px;
    transition: all 0.3s ease;
}

    .card:hover {
        transform: translateY(-5px);
        box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    }

.card-img-top {
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    height: 200px;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    object-fit: cover;
}

.card-title {
    font-size: 1.25rem;
    font-weight: bold;
    color: #333333;
}

.card-text {
    color: #666666;
}

.card-price {
    color: #007bff;
    margin-top: 10px;
}

.pagination {
    margin-top: 20px;
}

.page-item.active .page-link {
    background-color: #007bff;
    border-color: #007bff;
}

.page-link {
    color: #007bff;
}
