.card {
    border-radius: 10px;
    border: 1px solid #dee2e6;
    width: 200px;
}

.card-img-top {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    align-self: center;
    height: 220px;
}

.card-title {
    font-size: 1.25rem;
    font-weight: bold;
}

.card-text {
    color: #6c757d;
}

.card-price {
    color: #007bff;
    margin-top: 10px;
}

.pagination {
    margin-top: 20px;
}

.row-product {
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    display: flex;
    flex-wrap: wrap;
    margin-top: calc(var(--bs-gutter-y) * -1);
    margin-right: calc(var(--bs-gutter-x) * -.5);
    margin-left: calc(var(--bs-gutter-x) * -.5);
}

@media (min-width: 992px) {
    .row-cols-lg-3 > * {
        flex: 0 0 auto;
        width: 18.3333333333%;
    }
}

.row {
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    display: flex;
    flex-wrap: wrap;
    margin-top: 0 !important;
    margin-right: 0 !important;
    margin-left: 0 !important;
}

.ml-4 {
    margin-left: 20px;
}